@model Microsoft.eShopOnContainers.WebMVC.ViewModels.Pagination.PaginationInfo

<div class="esh-pager">
    <div class="container">
        <article class="esh-pager-wrapper row">
            <nav>
                <a class="esh-pager-item esh-pager-item--navigable @Model.Previous"
                    id="Previous"                    
                    asp-controller="Catalog"
                    asp-action="Index"
                    asp-route-page="@(Model.ActualPage -1)"
                    aria-label="Previous">
                    Anterior
                </a>

                <span class="esh-pager-item">
                    Mostrando @Model.ItemsPerPage de @Model.TotalItems productos - Página @(Model.ActualPage + 1) - @Model.TotalPages
                </span>

                <a class="esh-pager-item esh-pager-item--navigable @Model.Next"
                    id="Next"                    
                    asp-controller="Catalog"
                    asp-action="Index"
                    asp-route-page="@(Model.ActualPage + 1)"
                    aria-label="Next">
                    Siguiente
                </a>
            </nav>
        </article>
    </div>
</div>

